<!-- start custom head snippets -->

<!-- Adds Google site verification -->
<meta name="google-site-verification" content="Gv_LkH2KAAbVEHUT2qjE0gVKU1nJa56Kh36mt4uweOs" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Adds support for Latex equations -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    CommonHTML: {
      scale: 90
    },
    TeX: {
      equationNumbers: { autoNumber: "AMS" },
      tagSide: "right"
    }
  });
</script>

<!-- end custom head snippets -->
