<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Adds support for Latex equations -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    CommonHTML: {
      scale: 90
    },
    TeX: {
      equationNumbers: { autoNumber: "AMS" },
      tagSide: "right"
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>


<!-- end custom head snippets -->
