<div style="display:none">
\(
% general
\newcommand{\AC}{\mathit{AC}}
\newcommand{\HP}{\mathit{HP}}
\newcommand{\AB}{\mathit{AB}}
\newcommand{\SB}{\mathit{SB}}
\newcommand{\DC}{\mathit{DC}}
\newcommand{\HD}{\mathit{HD}}
\newcommand{\CON}{\mathit{CM}}

% damage
\newcommand{\DPR}{\mathit{DPR}} 
\newcommand{\DPRcrit}{\DPR_{\mathrm{crit}}}
\newcommand{\DPRhit}{\DPR_{\mathrm{hit}}} 
\newcommand{\DPRfail}{\DPR_{\mathrm{fail}}}
\newcommand{\DPRsave}{\DPR_{\mathrm{save}}}
%\newcommand{\eD}{\mathit{eD}}

\newcommand{\attack}{\mathrm{atk}}
\newcommand{\Nattacks}{\mathit{N}_{\attack}}

% experience
\newcommand{\XP}{\mathit{XP}}

% effective
\newcommand{\eAC}{\mathit{eAC}}
\newcommand{\eDPR}{\mathit{eDPR}}
\newcommand{\eHP}{\mathit{eHP}}

% encounter multiplier
\newcommand{\EM}{\mathit{EM}}
\newcommand{\W}{\mathit{W}}

% creatures
\newcommand{\CR}{\mathit{CR}}
\newcommand{\LV}{\mathit{L}}
\newcommand{\PC}{\mathrm{PC}}
\newcommand{\NPC}{\mathrm{NPC}}
\)
</div>