<div style="display:none">
\(
% shorthand
\newcommand{\attack}{\mathrm{atk}}
\newcommand{\total}{\mathrm{tot}}
\newcommand{\thresh}{\mathrm{th}}
\newcommand{\weighted}{\mathrm{wt}}
\newcommand{\crit}{\mathrm{c}}
\newcommand{\hit}{\mathrm{h}}
\newcommand{\miss}{\mathrm{m}}
\newcommand{\fail}{\mathrm{f}}
\newcommand{\save}{\mathrm{s}}

% creatures
\newcommand{\CR}{\mathit{CR}}
\newcommand{\LV}{\mathit{L}}
%\newcommand{\PC}{\mathrm{PC}}
%\newcommand{\NPC}{\mathrm{NPC}}
\newcommand{\NPC}{\mathrm{n}}
\newcommand{\NPCs}{\mathrm{n}}
\newcommand{\PC}{\mathrm{p}}
\newcommand{\PCs}{\mathrm{p}}

% general
\newcommand{\AC}{\mathit{AC}}
\newcommand{\HP}{\mathit{HP}}
\newcommand{\AB}{\mathit{AB}}
\newcommand{\SB}{\mathit{SB}}
\newcommand{\DC}{\mathit{DC}}
\newcommand{\HD}{\mathit{HD}}
\newcommand{\CON}{\mathit{CM}}
\newcommand{\rounds}{\mathit{R}}

% damage
\newcommand{\DPR}{\mathit{DPR}} 
\newcommand{\DPRcrit}{\DPR_{\crit}}
\newcommand{\DPRhit}{\DPR_{\hit}} 
\newcommand{\DPRfail}{\DPR_{\fail}}
\newcommand{\DPRsave}{\DPR_{\save}}

\newcommand{\Nattacks}{\mathit{N}_{\attack}}

% experience
\newcommand{\XP}{\mathit{XP}}
\newcommand{\eAC}{\mathit{eAC}}
\newcommand{\eDPR}{\mathit{eDPR}}
\newcommand{\eHP}{\mathit{eHP}}

% encounter multiplier
\newcommand{\EM}{\mathit{EM}}
\newcommand{\W}{\mathit{W}}
\)
</div>