figure {
    & > div {
        width: 600px;
        min-width: 50%;
        max-width: 100%;
        aspect-ratio: 600/450;
        margin: auto;
    }

    &.half {
        > div {
            @include breakpoint($small) {
                width: calc(50% - 0.5em);
            }
        }
    }

    .plotly-div-small {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .plotly-div-small {
            display: block;
        }
        .plotly-div-large {
            display: none;
        }
    }
}