---
layout: archive
---

{{ content }}


<!--Get a list of all tags-->
{% assign sorted = site.documents | where_exp:"item", "item.tags" %}
{% for post in sorted %}
  {% if post.tags %}
    {% for tag in post.tags %}
        {% if mytags %}
            {% capture temptags %}
                {{ mytags }},{{ tag }}
            {% endcapture %}
            {% assign mytags = temptags | strip %}
        {% else %}
            {% assign mytags = tag | strip %}
        {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% assign mytags = mytags | split: "," | uniq | sort %}

<!--Create taxonomy index-->
<ul class="taxonomy__index">
    {% for tag in mytags %}
        {% capture where_clause %}
            item.tags contains "{{ tag }}"
        {% endcapture %}
        {% assign posts = site.documents | where_exp:"item", where_clause %}
        <li>
            <a href="#{{ tag | slugify }}">
                <strong>{{ tag }}</strong> <span class="taxonomy__count">{{ posts | size }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

<!--Create entries for each tag-->
{% for tag in mytags %}
    <section id="{{ tag | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag }}</h2>
        <div class="entries-{{ entries_layout }}">
            {% capture where_clause %}
                item.tags contains "{{ tag }}"
            {% endcapture %}
            {% assign posts = site.documents | where_exp:"item", where_clause %}
            {% for post in posts %}
                {% include archive-single.html type=entries_layout %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
{% endfor %}